.background_layer {
  height: 100%;
  width: 100%;
}

.background_layer .masker {
  width: 100%;
  height: 100vh;
  position: relative;
}

.masker .masker_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.background_layer .masker::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
}

.background_layer .bg_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.background_layer .bg_content p {
  font-size: 1.4rem;
  font-weight: 200;
}
.background_layer .bg_content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.bg_content .btn{
    margin: 3rem 0.3rem;
}

@media (max-width:640px) {
    .background_layer .bg_content p {
        font-size: 1.4rem;
        
      }
      .background_layer .bg_content h1 {
        font-size: 3rem;
       
        letter-spacing: 1px;
        margin-bottom: 2rem;
      }
}
