@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-with-lg: 75%;
  --container-with-md: 86%;
  --container-with-sm: 90%;

  --trans-ease: all 0.4s ease;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #000;
  
}
html {
  scroll-behavior: smooth;
}

::--webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

h1,
h4,
p,
a {
  color: #fff;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn_light {
  background: transparent;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* FOR ALL PAGES COMMON STYLE */
.background_layer {
  height: 100%;
  width: 100%;
}

  .masker {
  width: 100%;
  height: 100vh;
  position: relative;
}

.masker .masker_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

 .masker::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
} 

 .bg_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
 .bg_content p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}
 .bg_content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}

.bg_content .btn{
    margin: 3rem 0.3rem;
}

@media (max-width:640px) {
     .bg_content p {
        font-size: 1.4rem;
        
      }
       .bg_content h1 {
        font-size: 3rem;
       
        letter-spacing: 1px;
        margin-bottom: 2rem;
      }
}


/* CSS Imports */
@import url("./styles/header.css");
@import url("./styles/home.css");
@import url("./styles/about.css");
@import url("./styles/contact.css");
@import url("./styles/footer.css");
@import url("./styles/contactContent.css");
@import url("./styles/workCard.css");
@import url("./styles/form.css");

